# Python 3: Data cleaning and visualization

So you have learned how to import data, clean it up and save as a csv. Time to get our hands dirty and start digging deep

## Starting out

In  this class we're going to learn how to:
* Concatenate two data sets 
* Identify and clean up messy data data
* Interrogate our data and chart our results

## Our Data

Today we're going to investigate FEC Campaign Finance Data from https://www.fec.gov/data/browse-data/?tab=bulk-data 

We're going to be cleaning and examining two data sets donations declared by campaign committees between 2015-2016 and 2017-2018. 

The file has one record per House and Senate campaign committee and shows information about the candidate, total receipts, transfers received from authorized committees, total disbursements, transfers given to authorized committees, cash-on-hand totals, loans and debts, and other financial summary information

We'll be using https://www.fec.gov/campaign-finance-data/current-campaigns-house-and-senate-file-description/ as our data dictionary

### Loading Libraries and reading in data sets.

In [293]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import datetime

%matplotlib inline

We're going to read in our two data sets below and take a look at what we have

In [294]:
df18 = pd.read_csv('')
df18.head(10)

,CAND_ID,CAND_SURNAME,CAND_FIRSTNAME,CAND_ICI,PTY_CD,CAND_PTY_AFFILIATION,TTL_RECEIPTS,TRANS_FROM_AUTH,TTL_DISB,TRANS_TO_AUTH,...,SPEC_ELECTION,PRIM_ELECTION,RUN_ELECTION,GEN_ELECTION,GEN_ELECTION_PRECENT,OTHER_POL_CMTE_CONTRIB,POL_PTY_CONTRIB,CVG_END_DT,INDIV_REFUNDS,CMTE_REFUNDS
0,H8AK00132,SHEIN,DIMITRI,C,1,DEM,209916.04,0.00,209502.35,0.0,...,NaN,NaN,NaN,NaN,NaN,0.00,0.00,12/31/2018,0.00,0.0
1,H6AK00045,YOUNG,DONALD E,I,2,REP,1234680.31,0.00,1387687.05,0.0,...,NaN,NaN,NaN,NaN,NaN,559861.90,0.00,12/31/2018,2700.00,500.0
2,H8AK01031,NELSON,THOMAS JOHN,C,2,REP,9288.48,0.00,8821.97,0.0,...,NaN,NaN,NaN,NaN,NaN,0.00,0.00,12/31/2018,600.00,0.0
3,H8AK00140,GALVIN,ALYSE,C,3,IND,1949643.68,154.70,1943398.59,0.0,...,NaN,NaN,NaN,NaN,NaN,114833.97,0.00,12/31/2018,8166.36,0.0
4,H8AL01066,KENNEDY,ROBERT JR.,C,1,DEM,166845.21,0.00,166845.21,0.0,...,NaN,NaN,NaN,NaN,NaN,7750.00,0.00,12/31/2018,0.00,0.0
5,H8AL01082,MCCONNELL,LIZZETTA HILL,C,1,DEM,5127.00,0.00,6021.00,0.0,...,NaN,NaN,NaN,NaN,NaN,0.00,0.00,06/30/2018,0.00,0.0
6,H4AL01123,BYRNE,BRADLEY ROBERTS,I,2,REP,1463187.12,63923.25,834780.43,0.0,...,NaN,NaN,NaN,NaN,NaN,1054650.00,663.98,12/31/2018,3050.00,0.0
7,H8AL02163,WILLIAMS,AUDRI SCOTT 1955,C,1,DEM,35365.02,0.00,35210.22,0.0,...,NaN,NaN,NaN,NaN,NaN,0.00,0.00,06/30/2018,0.00,0.0
8,H8AL02197,ISNER,TABITHA KAY,C,1,DEM,524941.35,0.00,524941.35,0.0,...,NaN,NaN,NaN,NaN,NaN,8605.00,0.00,12/31/2018,4796.05,1000.0
9,H0AL02087,ROBY,MARTHA,I,2,REP,2573681.12,85734.19,2277448.83,0.0,...,NaN,NaN,NaN,NaN,NaN,1672691.24,7000.00,12/31/2018,6674.00,2000.0

To determine how many rows and columns is in our data set we're going to use the .shape argument

First thing we need to do is to check the object type for each column using .dtypes

In [297]:
df16 = pd.read_csv('')
df16.head(10)

,CAND_ID,CAND_SURNAME,CAND_FIRSTNAME,CAND_ICI,PTY_CD,CAND_PTY_AFFILIATION,TTL_RECEIPTS,TRANS_FROM_AUTH,TTL_DISB,TRANS_TO_AUTH,...,SPEC_ELECTION,PRIM_ELECTION,RUN_ELECTION,GEN_ELECTION,GEN_ELECTION_PRECENT,OTHER_POL_CMTE_CONTRIB,POL_PTY_CONTRIB,CVG_END_DT,INDIV_REFUNDS,CMTE_REFUNDS
0,H6AK00045,YOUNG,DONALD E,I,2,REP,1103561.86,0.0,1322055.12,0.0,...,NaN,NaN,NaN,NaN,NaN,459603.99,0.0,12/31/2016,2250.00,3000.00
1,H6AK00235,LINDBECK,STEVE,NaN,1,DEM,1102309.77,0.0,1098098.09,0.0,...,NaN,NaN,NaN,NaN,NaN,67074.61,5000.0,12/31/2016,884.01,0.00
2,H4AL01123,BYRNE,BRADLEY ROBERTS,I,2,REP,1367469.77,33152.0,1172750.28,0.0,...,NaN,NaN,NaN,NaN,NaN,843200.00,0.0,12/31/2016,1100.00,0.00
3,H6AL01060,YOUNG JR,LARRY DEAN,C,2,REP,178766.88,0.0,178474.16,0.0,...,NaN,NaN,NaN,NaN,NaN,0.00,0.0,04/14/2016,0.00,0.00
4,H6AL02167,MATHIS,NATHAN,C,1,DEM,36844.00,0.0,36844.00,0.0,...,NaN,NaN,NaN,NaN,NaN,0.00,0.0,11/16/2016,0.00,0.00
5,H0AL02087,ROBY,MARTHA,I,2,REP,1404260.12,0.0,1850535.64,0.0,...,NaN,NaN,NaN,NaN,NaN,828775.00,0.0,12/31/2016,17550.00,4283.03
6,H6AL02142,GERRITSON,REBECCA (BECKY),C,2,REP,206908.19,0.0,206908.19,0.0,...,NaN,NaN,NaN,NaN,NaN,11500.00,0.0,09/30/2016,1845.00,0.00
7,H6AL02159,ROGERS,ROBERT L,C,2,REP,25382.00,0.0,32492.00,0.0,...,NaN,NaN,NaN,NaN,NaN,0.00,0.0,04/15/2016,0.00,0.00
8,H4AL03061,SMITH,JESSE TREMAIN,C,1,DEM,9810.00,0.0,7348.00,0.0,...,NaN,NaN,NaN,NaN,NaN,0.00,0.0,12/31/2016,0.00,0.00
9,H2AL03032,ROGERS,MICHAEL DENNIS,I,2,REP,1139022.37,0.0,1071289.42,167500.0,...,NaN,NaN,NaN,NaN,NaN,660800.00,14850.0,12/31/2016,1000.00,200.00

### Concatenating data frames

In [300]:
frames = [, ]
result = pd.concat(, sort=False)

Let's check if that worked using .head(), if we got the right number of rows and columns using .shape and what data types we have using .dtypes

Let's get some basic stats on our data using .describe

### Cleaning data

We are going to clean up our data so we can perform a bit of analysis and create some graphs. 

* Drop unneccessary columns from our data frame
* Convert a string to a python datetime object and create a new year column
* Convert the 'TTL_RECEIPTS' column from float to integer data type

We have a lot of columns, so we should drop some, also we should create a year column so we can look at trends over time.

In [305]:
del result['']

Now let's see if that worked using .head()

Now we need to convert CVG_END_DT to a datetime object using pd.to_datetime([''])

Let's see if that worked

Now we're going to create a new column called Year by extracting the year from 'CVG_END_DT

result[''] = pd.DatetimeIndex(result['']).year

Let's see if that worked by using .head()

Now we're going to get to work on 'TTL_RECEIPTS', let's give it an easier name to type to start off. 

result = result.rename(columns={'TTL_RECEIPTS': 'AMOUNT'})

What's happening? Let's check our column names to make sure there aren't any trail spaces using the .columns

Let's try again

Did that work? Let's use .head() to check

Our 'AMOUNT' column is a float, let's make calculations easier and convert that float to an integer using 

result['AMOUNT'] = result['AMOUNT'].astype('int64', copy=False)

## Analysis and Charts
Let's start interrogating our data, asking questions and creating a few charts.

### How much money was claimed between 2015 and 2018?

.sum()

### Who received the most money?

result.groupby('')[''].sum().sort_values(ascending=False).head(10)

But who is candidate P00003392? Let's use df.loc to figure that out

### Which year was the highest amount claimed? 

result.groupby('')[''].sum().sort_values(ascending=False)

### Which party has the highest number of claimants?

.value_counts()

### Dems got the highest number of donations but which party got the most money?

result.groupby('')[''].sum().sort_values(ascending=False)

### Now let's graph our work

Let's create a bar chart of total amount claimed per party

In [ ]:
parties = result.groupby('')[''].sum().sort_values(ascending=False)
parties.plot(kind="bar")

Now let's see if we can build on that 

annual_received = result.groupby(['CAND_PTY_AFFILIATION', 'YEAR'])['AMOUNT'].sum().unstack().sort_values(2019).head(10)
annual_received.plot(kind="bar")

## Thanks and more resources

Thanks for participating in our class today! If you have questions please tweet at me @karriekehoe or send me an email at karrie.anne.kehoe@gmail.com

Here is some Pandas resources I think are great:

* Pandas Cookbook https://github.com/jvns/pandas-cookbook
* Greg Reda's intro to Pandas http://www.gregreda.com/2013/10/26/intro-to-pandas-data-structures/
* Pandas cheat sheet https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf
* 19 essential snippets in pandas https://jeffdelaney.me/blog/useful-snippets-in-pandas/